[build]
builder = "NIXPACKS"
buildCommand = "cd backend && bundle install"

[deploy]
startCommand = "cd backend && bundle exec puma -C config/puma.rb"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
releaseCommand = "cd backend && bundle exec rails db:migrate"

